@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}

/* Main layout */
.main-container {
  display: grid;
  grid-template-columns: 256px 1fr;
  min-height: 100vh;
}

/* Mobile view */
@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

/* Left column */
.left-column {
  background-color: #f3f4f6;
  top: 0;
  min-height: 100%;
}

/* Right column */
.right-column {
  padding: 1.5rem;
  overflow-y: auto;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

/* Gallery items */
.gallery-item {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 350px;
  box-shadow: 12px 0 15px -15px rgba(195, 199, 204, 0.8), -12px 0 8px -4px rgba(206, 206, 206, 0.8);

  margin-bottom: 1rem;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

.gallery-item-loader {
  background-color: #f1f1f1;
  opacity: .5;
  border-radius: 0.5rem;
}

/* New Spinner Styles */
.loader-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  background-color: #666;
  opacity: 0;
}

.loader-dot:nth-child(1) {
  animation: fadeInOut 1.5s infinite;
}

.loader-dot:nth-child(2) {
  animation: fadeInOut 1.5s infinite 0.5s;
}

.loader-dot:nth-child(3) {
  animation: fadeInOut 1.5s infinite 1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}